.App {
  text-align: center;
  
}
.footer{
  /* font-size: 1rem;
  background-color: rgb(91, 91, 91);
  color: rgb(98, 105, 115);
  text-align: center;
  padding: 20px;
  border-top: rgb(81, 160, 155) solid 5px;
  margin: 0pt;
  margin-top: 2rem; */
 
    width: 100%;
    position: fixed;
    bottom: 0;
  
}
.navbar-brand {
  font-weight: bold;
  width: fit-content;
  margin: 0 0 5px 5px;
  padding: 10px 0px;
}